<!DOCTYPE html>
<html ng-app>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
    <div ng-controller="demo7">
        <input type="text" ng-model="name"/>
        {{name}}
        次数：{{count}}
        <div>
            <input type="text" ng-model="data.name"/>
            {{data.name}}
        </div>
    </div>
</body>
    <script src="angular-1.3.0.js"></script>
    <script>
        function demo7($scope){
            $scope.name = '张三';

            $scope.data = {
                name : '李四',
                count : 20
            }
            
            $scope.count = 0;

            $scope.$watch('name',function(newValue,oldValue){
//                新值对比旧的值
//                console.log(newValue , oldValue)
                ++ $scope.count;
                if($scope.count > 30){
                    $scope.name = '已经超过30次了';
                }
            });
            //watch 的第三个参数，可选择监听一个对象或者一个参数
            $scope.$watch('data',function(){
                console.log($scope.data.name)
                if($scope.data.name == 'melon'){
                    $scope.data.name = 'Hello Melon';
                }
            },true)
        }
    </script>
</html>